body {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color: #f0f4f8;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  width: 70%;
  margin: 0 auto;
  /* padding-top: 20px; */
}

.general-info {
  display: flex;
  flex-direction: column;
}

.main-title {
  font-size: 2rem;
}

.how-to-play {
  font-size: 1.3rem;
}

.win-points {
  font-style: italic;
  font-size: 1.2rem;
  margin-bottom: 35px;
}

.hidden-logic {
  height: 150px;
  margin: 20px 0;
}

.game-choices {
  margin: 20px 0;
}

.game-choices p {
  font-size: 1.4rem;
}

.choice-btn {
  width: 120px;
  font-size: 1.5rem;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border: 2px solid #fff;
  border-radius: 5px;
  background-color: #4a90e2;
  color: #fff;
  transition: background-color 0.3s;
}

.choice-btn:hover {
  background-color: #357abd;
}

.flip-scissors {
  transform: scaleX(-1);
}

.round {
  font-size: 1.5rem;
}

.round p {
  margin: 20px 0;
}

.icon-display {
  display: flex;
  justify-content: space-around;
  width: 210px;
  margin: 20px auto;
  font-size: 1.7rem;
}

.icon-display div {
  width: 70px;
}

.final-result {
  font-size: 1.5em;
  margin: 20px 0 30px 0;
}

.scores {
  margin-top: 30px;
  font-size: 1.5em;
  display: flex;
  justify-content: space-around;
  width: 250px;
  margin: 0 auto;
  border: 2px solid #4a90e2;
  border-radius: 10px;
}

.atomic-scores {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80px;
}

.reset-game {
  width: 200px;
  margin: 20px auto;
  padding: 15px 20px;
  cursor: pointer;
  font-size: 1.1em;
  display: none;
  border: 2px solid #fff;
  border-radius: 10px;
  background-color: #4a90e2;
  color: #fff;
}

.reset-game:hover {
  background-color: #357abd;
}

/* media */

@media screen and (max-width: 1250px) {
  .scores {
    font-size: 1.3em;
    width: 250px;
  }

  .hidden-logic {
    margin: 15px 0;
  }

  .round {
    font-size: 1.3rem;
  }

  .round p {
    margin: 10px 0;
  }

  .icon-display {
    font-size: 1.5rem;
  }

  .final-result {
    margin: 10px 0 10px 0;
    font-size: 1.4em;
  }

  .game-choices {
    margin: 10px 0;
  }

  .choice-btn {
    font-size: 1.3rem;
  }

  .reset-game {
    width: 180px;
  }
}

@media screen and (max-width: 768px) {
  .main-title {
    font-size: 1.5rem;
  }

  .win-points {
    font-size: 1.1rem;
  }

  .scores {
    font-size: 1.2em;
    width: 200px;
  }

  .atomic-scores {
    height: 70px;
  }

  .hidden-logic {
    margin: 5px 0;
  }

  .game-choices p {
    font-size: 1.2rem;
    margin: 0 0 15px 0;
  }

  .final-result {
    font-size: 1.3em;
    width: 90%;
  }

  .choice-btn {
    padding: 10px;
    width: 100px;
  }
}
